@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
   font-family: 'Inter', monospace;
   min-width: 392px;
   background: #1a3d28;
   min-width: 392px;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #dffda7;
}

body::-webkit-scrollbar-thumb {
  background-color: #99e0b1;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 0px 5px;
}

.map-container {
  overflow: hidden;
}
  .map-container iframe {
    height: 450px;
    width: 70vw;
  }


.card {
    border: none;
    box-shadow: 0px 0px 15px 0px;
    height: 19rem;
  }
  .card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card img {
    height: 100px;
  }
  @media (max-width: 991px) {
    .card img {
      height: 70px;
    }
  }
  @media (max-width: 648px) {
    .card img {
      height: 40px;
    }
  }