#title-cover {
  margin-top: 4rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: fixed url(../img/background-cover-1.jpg) no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}
  .lead {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    padding-inline: 20px;
  }

.artigo {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .artigo-content {
    width: 100%;
  }
  .artigo-img {
    width: 100%;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  #text {
    font-size: 17px;
    text-align: justify;
  }

#artigo-inicio, #artigo-geo, #artigo-historia, #artigo-economia, #artigo-politica, #artigo-gastronomia, #artigo-dados {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 992px) {
  #title-cover {
    height: 50vh;
    margin-bottom: 2rem;
  }
  #text {
    font-size: 21px;
  }
  .artigo-text {
    width: 90%;
  }
}